name: Release package and cleanup old packages
on: 
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'icloudbackup/**'

jobs:
  build_and_release_package:
    name: Deploy container stable
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ secrets.USERNAME_GITHUB }}
        password: ${{ secrets.TOKEN_GITHUB }}

    - name: Publish Addon Image
      uses: home-assistant/builder@2025.11.0
      with:
        args: |
          --aarch64 \
          --amd64 \
          --target icloudbackup \
          --docker-hub ghcr.io/fabiann2205

  cleanup_old_packages:
    name: Cleanup old and untagged packages
    runs-on: ubuntu-latest
    needs: build_and_release_package
    steps:
    - name: Cleanup old packages
      uses: actions/delete-package-versions@v5.0.0
      with:
        package-name: 'aarch64-icloud-backup-app'
        package-type: 'container'
        min-versions-to-keep: 5
        token: ${{ secrets.TOKEN_GITHUB }}
    - name: Cleanup old packages
      uses: actions/delete-package-versions@v5.0.0
      with:
        package-name: 'amd64-icloud-backup-app'
        package-type: 'container'
        min-versions-to-keep: 5
        token: ${{ secrets.TOKEN_GITHUB }}
    - uses: actions/delete-package-versions@v5.0.0
      with:
        package-name: 'aarch64-icloud-backup-app'
        package-type: 'container'
        min-versions-to-keep: 0
        delete-only-untagged-versions: 'true'
        token: ${{ secrets.TOKEN_GITHUB }}
    - uses: actions/delete-package-versions@v5.0.0
      with:
        package-name: 'amd64-icloud-backup-app'
        package-type: 'container'
        min-versions-to-keep: 0
        delete-only-untagged-versions: 'true'
        token: ${{ secrets.TOKEN_GITHUB }}
